.navbar-default {
  background-color: #ff3366;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a  {
  color: #f4f2f2;
}
/* 
.navbar-default .navbar-nav > li > a {
  color: #f1f1f1;  
} */
